{% extends "index.html" %}
{% load staticfiles %}
{% block context %}
    {% load pagination_tags %}
    <form id="form_business" name="from_case" method="post" action="">
        <div class="right" xmlns="http://www.w3.org/1999/html">
            <div class="center" onclick="show_menu()"></div>
            <div class="rightbar">
                <div class="top"> 管理平台 &gt; <span
                        id="current_pro_name">{{ current_pro_name }}</span><span>&gt;新建业务流用例</span></div>
                <div class="search">
                    <form action="">
                        <span>业务流名称：</span><input style="width: 400px;" type="text" id="add_business" name="ywlname" placeholder="请输入业务流用例名称"
                                                  required autofocus>
                        <input type="hidden" name="current_pro_name" value={{ current_pro_name }}>
                        <span>例：前台注册-登录-资质认证申请-后台审核成功-发布资产-后台资产审核-前台首页资产展示</span>
                    </form>
                </div>

                <div class="btnlist re_position">
                    <a class="a_btn addcase_btn">添加用例</a>

                    <a class="a_btn mrl_15 delete_case" href="#">删除用例</a>
                    <input class="a_btn" type="submit" name="Submit" value="保存">
                </div>

                <div class="tablelist">
                    <table class="list01 list02 tb" id="aabb">
                        <tr class="thead">
                            <th width="45"></th>
                            <th>步骤</th>
                            <th>名称</th>
                            <th>时间</th>
                            <th>性质</th>
                            <th>维护</th>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    </form>


    <div id="mask" class="mask"></div>
    <div class="dialog test_cases" id="test_cases01">
        <div class="test_list mb_20">
            <h3 style="margin-left: 300px">添加用例
                <a style="float: right;color: #d43f3a" class="close_div" href="#">[关闭]</a>
            </h3>
            <div>
                <select id="select_case">
                    <option id="p_name" name="p_name" value =""></option>
                    {% for project in project_obj %}
                  <option id="p_name" name="p_name" value ="{{ project.id }}">{{ project.name }}</option>
                    {% endfor %}
                </select>
                <input class="a_btn"  id="add_case" type="button" value="查询">
                <a class="a_btn" id="addcase" style="margin-left: 200px">保存</a>
                <a class="a_btn close_div" >取消</a>

            </div>
            <div  style="max-height: 600px;overflow-y: scroll">
                <table class="list01 list02" id="tb" >
                    <tr class="thead">
                        <th width="45">计数</th>
                        <th width="45"></th>
                         <th>用例名称</th>
                        <th width="60">用例性质</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-1.10.1.js" %}"></script>

{#添加用例#}
    <script>
    $("#addcase").click(function(){
        var aabbs = $("#test_cases01 input[type=checkbox]:checked");
                var idStr = [];
                for(var i =0;i<aabbs.length;i++){
                    idStr.push(aabbs[i].name);
                }
                $.post('/business_ajax/',{id:idStr},function(data){
                    $("#aabb").append(data);
                    $("#test_cases01").hide()
                    $("#mask").hide()
                });
    })
    </script>




    {#    根据respone的内容弹出相应提示#}
    <script>
        $("#form_business").submit(function (event) {
            event.preventDefault();
            var pro_name = $("#current_pro_name").text();

            $.post("/add_business/?pro_name=%C2%A0%C2%A0" + pro_name, $(this).serialize(), function (result) {
                alert(result);
                if (result == "保存成功") {
                    location.reload();
                }

            })

        })

    </script>

    <script>
        $(".save").click(function () {
                    var str = [];
                    var i_check = $("#test_cases01 input[type=checkbox]:checked");
                    if(i_check.length>1){
                        for(i=0;i<i_check.length;i++){
                            str.push(i_check[i].value)
                        }
                    }
                    else{
                        str.push(i_check.val())
                    }

                    $.post("/business_ajax/",{id:str},function(date){
                        $("#aabb").append(date);
                        $("#test_cases01").hide();
                        $("#mask").hide()
                    })
                })
    </script>

{# 查询用例功能#}
    <script>
    $("#add_case").click(function(){
        var obj=document.getElementById('select_case');
        var text=obj.options[obj.selectedIndex].value;
        if(text ==""|text==null){
            $("#test_list").empty();
        }
        else{
            $.post("/perform_case_ajax/",{"pro_id":text,"type":"case"},function(result){
                $(".tr_list").hide();
                $("#tb").append(result);
            })
            }
    })
</script>
{% endblock %}



