<tr>
    <td><input type='checkbox' class='checkbox' id='' name='checkbox'>
    </td>
    <td>
        <select name='dbkey1' id='' class='key2Type'>"+
        </select>"+
        </td>" +
    <td><input type='text' name='dbkey3'/>
    </td>
    <td>
        <select name='dbkey2' id='' class='key3Type'>
        </select>
        </td>
    <td><select name='diffSelect' id='' >
        <option value='dbdiff'>数据库对比</option>
        <option value='objdiff'>特定字符串对比</option>
        </select>
    </td>
    <td><input type='text' name='dbkey3' value=''/></td>
</tr>