<tr>
    <td>
    <a>元素ID</a>
    </td>
    <td>
        <a>{{ element_obj.id }}</a>
    </td>
</tr>
<tr>
    <td>
    <a>元素名称</a>
    </td>
    <td>
        {{ element_obj.name }}
    </td>
</tr>
<tr>
    <td>
    <a>定位方式</a>
    </td>
    <td>
        {{ element_obj.fun }}
    </td>
</tr>
<tr>
    <td>
    <a>元素值</a>
    </td>
    <td>
        {{ element_obj.values }}
    </td>
</tr>
<tr>
    <td>
    <a>元素路径</a>
    </td>
    <td>
        {{ element_obj.page_url }}
    </td>
</tr>
<tr>
    <td>
    <a>元素备注</a>
    </td>
    <td>
        {{ element_obj.desc }}
    </td>
</tr>

