{% extends "index.html" %}
{% block context %}
  <script>
      window.onload=onload();
  </script>
<div class="right">
{# 接口参数管理列表 #}
    <div class="center" onclick="show_menu()"></div>
    <div class="rightbar">
        <div class="top"> 管理平台 &gt; &gt;接口测试参数管理</div>
    <br>
        <form id="paramManager" name="paramManager" method="post" action="">
            <div>
                <div>
                    <h2>项目选择
                    <select id="proName" name="proName" class="proName">
                        {% for i in proName %}
                            <option>{{ i.name }}</option>
                        {% endfor %}
                        <option></option>
                    </select>
                    </h2>
                </div>
                <br>
                <input class="a_btn add_newObj" type="button" value="新增报文元素">
                <input class="a_btn mdy_obj" type="button" value="编辑报文元素"/>
                <input class="a_btn del_obj" type="button" name="del_hj" value="删除报文元素">
{#                <input class="a_btn" type="submit" name="Submit" value="保存参数配置"/>#}
            </div>
            <br>
            <div class="tablelist">
                <table class="list01 list02 objtable">
                    <tr class="thead">
                        <th width="45"></th>
                        <th width="320">参数名称</th>
                        <th width="320">组件名称</th>
                        <th width="320">列表/字段名称</th>
                        <th width="320">列表子字段名称</th>
                        <th >字段类型</th>
                    </tr>
                </table>
            </div>
        </form>
    </div>

<div id="mask"  class="mask"></div>

{# 新增报文页面 #}
    <div class="dialog test_cases add_new_obj" id="test_cases01" style="width: 1400px;height: 200px" >
        <form id="new_obj" name="add_new_env"  method="post" action="">
            <input type="hidden" id="addProName" name="addProName" value="">
            <div class="test_list mb_20">
                <div>
                <h3 style="margin-left: 650px">新增报文元素
                    <a style="float: right;color: #d43f3a" class="close_div" href="#">[关闭]</a>
                </h3>
                </div>
                <div style="max-height: 600px;overflow-y: scroll">
                        <table class="list01 list03">
                        <tr class="thead">
                            <th width="45"></th>
                            <th width="280">参数名称</th>
                            <th width="280">组件名称</th>
                            <th width="280">列表/字段名称</th>
                            <th width="280">列表子字段名称</th>
                            <th >字段类型</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox">
                                <input type="hidden" name="subBtn" value="addNew">
                            </td>
                            <td>
                                <input type="text" id="objName" name="objName">
                            </td>
                            <td >
                                <select id='key1' name='key1' class='opt' >
                                    <option>datagramHeader</option>
                                    <option>datagramBody</option>
                                    <option>messageCode</option>
                                    <option>targetSystemCode</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="key2" name="key2">
                            </td>
                            <td>
                                <input type="text" id="key3" name="key3">
                            </td>
                            <td>
                                <select id='type' name='type' class='opt' >
                                        <option>all</option>
                                        <option>send</option>
                                        <option>receive</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:0 auto; width: 500px; " align="center">
                    <input class="a_btn save_add" id="save_add_btn" type="button" name="save_add_btn" value="保存并继续添加"/>
                    <input class="a_btn save" id="save_btn" type="button" name="save_btn" value="保存"/>
                    <input class="a_btn close_div" value="取消">
                </div>
            </div>
        </form>
    </div>
{# 编辑报文页面 #}
    <div class="test_cases dialog mdy_obj_page" id="test_cases02" style="width: 1400px;height: 200px" >
        <form id="mdy_obj" name="mdy_obj"  method="post" action="">
            <input type="hidden" id="mdyProName" name="addProName" value="">
            <div class="test_list mb_20">
                <div>
                <h3 style="margin-left: 650px">修改环境配置
                    <a style="float: right;color: #d43f3a" class="close_div" href="#">[关闭]</a>
                </h3>
                </div>
                <div style="max-height: 600px;overflow-y: scroll">
                        <table class="list01 list03">
                        <tr class="thead">
                            <th width="45"></th>
                            <th width="280">参数名称</th>
                            <th width="280">组件名称</th>
                            <th width="280">列表/字段名称</th>
                            <th width="280">列表子字段名称</th>
                            <th >字段类型</th>
                        </tr>
                        <tr>
                            <td><input type='checkbox' class='checkbox' id='' name='checkbox'>
                                <input type="hidden" id="mdy_objId" name="mdy_objId" value="">
                                <input type="hidden" name="subBtn" value="mdyObj">
                            </td>
                            <td><input type='text' id="mdy_objName" name='objName' value='' />
                            </td>
                            <td>
                                <select id='key1' name='key1' class='opt' >
                                    <option value="" id="mdy_key1"></option>
                                    <option>datagramHeader</option>
                                    <option>datagramBody</option>
                                    <option>messageCode</option>
                                    <option>targetSystemCode</option>
                                </select>
                            </td>
                            <td><input type='text' id="mdy_key2" name='key2' value=''/>
                            </td>
                            <td><input type='text' id="mdy_key3" name='key3' value=''/>
                            </td>
                            <td>
                                <select id='type' name='type' class='opt' >
                                    <option id="mdy_type"></option>
                                    <option>all</option>
                                    <option>send</option>
                                    <option>receive</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:0 auto; width: 300px;">
                    <input class="a_btn save" id="save_mdy_btn" type="button" name="subBtn" align="center" value="保存修改"/>
                    <a class="a_btn close_div" href="#">取消</a>
                </div>
            </div>
        </form>
    </div>

</div>

{% load staticfiles %}
<script type="text/javascript" src="{% static "js/jquery-1.10.1.js" %}"></script>
    <script>
    /* 当项目变化时加载项目元素 */
        $(".proName").change(function(event){
            event.preventDefault();
            $(".atr").remove();
            var proName = $(".proName").find("option:selected").text();
            $.post("/search_ajax/",{proName: proName},function(result){
                $(".list02").append(result)
            });
        });
    </script>
    {#  获取参数列表  #}
    <script>
    $(function() {
        var proName = $(".proName").find("option:selected").text();
        $.post("/search_ajax/",{proName: proName},function(result){
            $(".list02").append(result)
        });
    });
    </script>
    {#  新增环境配置相关js  #}
    <script>
    function showDialog() {
        var objW = $(window); //当前窗口
        var objC = $(".add_new_obj"); //对话框
        var brsW = objW.width();
        var brsH = objW.height();
        var sclL = objW.scrollLeft();
        var sclT = objW.scrollTop();
        var curW = objC.width();
        var curH = objC.height();
        //计算对话框居中时的左边距
        var left = sclL + (brsW - curW) / 2;
        //计算对话框居中时的上边距
        var top = sclT + (brsH - curH) / 2;
        //设置对话框在页面中的位置
        objC.css({"left": left, "top": top});
    }
    </script>

    <script>
    /*显示新增环境配置页面*/
        $(".add_newObj").click(function(){
            $("#mask").show();
            showDialog();
            $("#test_cases01").show();
        })
    </script>
    <script>
    /* 提交新元素，根据返回值的内容弹出相应提示 */
        $("#save_btn").click(function(event){
            event.preventDefault();
            var proName = $("#proName").val();
            $("#addProName").val(proName);
            var url = "/interfaceParamManager/";
            $.post(url,$("#new_obj").serialize(),function(result){
                alert(result);
                if (result == "保存报文参数成功") {
                    location.href = "/interfaceParamManager/";
            }
            })

        })
    </script>

    <script>
    /* 提交新元素，保存成功后留在提交表单，清空表单内容 */
        $("#save_add_btn").click(function(event){
            event.preventDefault();
            var proName = $("#proName").val();
            $("#addProName").val(proName);
            var url = "/interfaceParamManager/";
            $.post(url,$("#new_obj").serialize(),function(result){
                alert(result);
                if (result == "保存报文参数成功") {
                    $("#objName").val("");
                    $("#key2").val("");
                    $("#key3").val("");

            }
            })

        })
    </script>
    <script>
        /*删除选中的参数*/
        $(".del_obj").click(function(){
            var pro_id="";
            var ck_list = $(".checkbox");
            for(i=0;i<ck_list.length;i++){
                if(ck_list[i].checked==true){
                    pro_id = ck_list.eq(i).parent().parent().find("[id='objId']").val();
                    ck_list.eq(i).parent().parent().remove();
                }
            }
            var url = "/interfaceParamManager/";
            $.post(url,{ subBtn: "删除元素", pro_id: pro_id },function(result){
                alert(result);
                if (result == "删除元素成功") {
                    location.href = "/interfaceParamManager/";
            }
            })
        })
    </script>
    {# 元素修改页面 #}
    <script>
    function showDialog1() {
        var objW = $(window); //当前窗口
        var objC = $(".mdy_obj_page"); //对话框
        var brsW = objW.width();
        var brsH = objW.height();
        var sclL = objW.scrollLeft();
        var sclT = objW.scrollTop();
        var curW = objC.width();
        var curH = objC.height();
        //计算对话框居中时的左边距
        var left = sclL + (brsW - curW) / 2;
        //计算对话框居中时的上边距
        var top = sclT + (brsH - curH) / 2;
        //设置对话框在页面中的位置
        objC.css({"left": left, "top": top});
    }
    </script>

    <script>
    /*显示修改元素页面*/
        $(".mdy_obj").click(function(){
            $("#mask").show();
            showDialog1();
            $(".mdy_obj_page").show();
            var ck_list = $(".checkbox");
            for(i=0;i<ck_list.length;i++){
                if(ck_list[i].checked==true){
                    objid = ck_list.eq(i).parent().parent().find("[id='objId']").val();
                    objName = ck_list.eq(i).parent().parent().find("[name='objName']").val();
                    key1 = ck_list.eq(i).parent().parent().find("[name='key1']").val();
                    key2 = ck_list.eq(i).parent().parent().find("[name='key2']").val();
                    key3 = ck_list.eq(i).parent().parent().find("[name='key3']").val();
                    type = ck_list.eq(i).parent().parent().find("[name='type']").val();
                    $("#mdy_objId").val(objid);
                    $("#mdy_objName").val(objName);
                    $("#mdy_key1").text(key1);
                    $("#mdy_key2").val(key2);
                    $("#mdy_key3").val(key3);
                    $("#mdy_type").text(type);
                }
            }
        })
    </script>

    <script>
        $("#save_mdy_btn").click(function(event){
            event.preventDefault();
            var proName = $("#proName").val();
            $("#mdyProName").val(proName);
            var url = "/interfaceParamManager/";
            $.post(url,$("#mdy_obj").serialize(),function(result){
                alert(result);
                if (result == "修改报文参数成功") {
                    location.href = "/interfaceParamManager/";
            }
            })
        })
    </script>
{% endblock %}