/**** log in页面 ****/
.login .main .loginbox{ filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#44000000,endcolorstr=#44000000);}
.login .main .loginbox input{ filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#60000000,endcolorstr=#60000000);}
.login  .a_btn{filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#55000000,endcolorstr=#55000000);}
.login  .a_btn:hover{filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#55000000,endcolorstr=#55000000);}